{% extends "base.html" %}
{% load static %}

{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>Update Product Details</title>
{%endblock head%}

    {% block content %}
<h1>Update Product Details</h1>

<form method="post" action="{% url 'product_update' id=product.id %}">

    {% csrf_token %}

        <p><strong>Product Name: </strong> {{product.product_name}}<strong> #</strong>{{product.id}}</p>
        <p><strong>Decription: </strong> {{product.description}}</p>
        <p><strong>Status: </strong> {{product.status}}</p>
        <img src="{{product.product_image.resized.url}}" alt="Product Image">

        <hr>

    <label for="id_product_name">Product Name:</label>
    <input type="text" id="id_product_name" name="product_name" value="{{ product.product_name }}">
    <br>
    

    <label for="id_description">Description:</label>
    <textarea id="id_description" name="description">{{ product.description }}</textarea>
    <br>

    <label for="id_status">Status:</label>
    <input type="text" id="id_status" name="status" value="{{product.status}}">
    <br>

    <label for="id_image">Image:</label>
    <input type="image" id="id_image" name="image" value="{{ product.product_image.resized.url }}">
    <br>
    
    <button type="submit">Save Changes</button>
</form>
<br>
<br>
<form method="post" action="{% url 'product_delete' id=product.id %}">   
            {% csrf_token %}
            <button class="button.button-delete" >Delete Product</button>

</form>
    {% endblock content %}
