{% extends "base.html" %}
{% load static %}

{% block head %}
<title>SupportTicket</title>
<link rel="stylesheet" href="{%static 'css/style.css'%}">
{% endblock head %}

{% block content %}
    <h1>All SupportTickets</h1>

    <ol>
    {% for support in all_support %}
            <li>
                <p><strong>User: </strong> {{support.user_id}}<strong> #</strong>{{support.user_id.id}} </p>
                <p><strong>Title: </strong> {{support.title}}<strong> #</strong>{{support.id}}</p>
                <p><strong>Decription:</strong> {{support.description}}</p>
                <p><strong>Created:</strong> {{support.created_at}}</p>
                <img src="{{support.uploaded_image}}" alt="Uploaded Image">
            </li>
    {% endfor %}
    <ol>
{% endblock content %}