{% extends "base.html"%}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>AllProducts</title>
{%endblock head%}


    {% block content %}
     <h1>Products</h1>
    <ol>
    {% for product in all_product %}
            <li>
                <p><strong>Product Name: </strong> {{product.product_name}}<strong> #</strong>{{product.id}}</p>
                <p><strong>Decription: </strong> {{product.description}}</p>
                <p><strong>Status: </strong> {{product.status}}</p>
                <p><strong>Created: </strong> {{product.created_at}}<strong> <br> <br>
                <img src="{{product.product_image.resized.url}}" alt="Product Image">
            </li>
    {% endfor %}
    </ol>
    {% endblock content %}

   