{% extends "base.html"%}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>AllProducts</title>
{%endblock head%}


    {% block content %}
     <h1>Products</h1>

    {% for product in all_product %}
        <ol>
            <li>
                <p>Product ID: {{product.id}} <br> Product Name: {{product.product_name}}</p>
                <p>Decription: {{product.description}}</p>
            </li>
        </ol>
    {% endfor %}

    {% endblock content %}

   