{% extends "base.html"%}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>AllProducts</title>
{%endblock head%}


    {% block content %}
     <h1>Products</h1>
    <ol>
    {% for product in all_product %}
            <li>
                <p>Image: {{product.product_image}}</p>
                <img src="{{product.product_image}}" alt="Product Image">
                <p><strong>Product ID:</strong> {{product.id}} <br> <strong>Product Name</strong> {{product.title}}</p>
                <p><strong>Decription:</strong> {{product.description}}</p>
                <p><strong>Created:</strong> {{product.created_at}}</p>
            </li>
    {% endfor %}
    </ol>
    {% endblock content %}

   