{% extends "base.html" %}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>ProductForm</title>
{%endblock head%}
{% block content %}
    <h1>Create a new Product</h1>

    <form  method="post">
        {% csrf_token %}

        {% for field in form %}
            {{field.label_tag}}
            <br>
            {{field}}
            <br>
            {% for error in field.errors %}
                <div class='field-error'>{{error}}</div>
            {% endfor %}
        
        {% endfor %}
        <button type='submit'>Create</button>
    </form>

    {{product_name}}
{% endblock content %}


