{% extends "base.html" %}

    {% block content %}

        <h1>Products DETAILS</h1>

        <p>{{product.first_name}}</p>

        {% if product.is_best_seller %}
            <p>product is also a best Seller!</p>
        {% else %}
            <p></p>
        {% endif %}

        <a href="/products/{{product.product_id}}/edit">edit product</a>

        
        <form action="/products/{{product.product_id}}/delete" method='post'>
            {% csrf_token %}
            <button>Delete Product</button>
        </form>

    {% endblock content %}

   