{% extends "base.html" %}
{%block head%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>ProductDetails</title>
{%endblock head%}
    {% block content %}

        <h1>Products DETAILS</h1>

        <p>{{product.name}}</p>


        <a href="/products/{{product.product_id}}/update">edit product</a>

        
        <form action="/products/{{product.product_id}}/delete" method='post'>
            {% csrf_token %}
            <button>Delete Product</button>
        </form>

    {% endblock content %}

   