{% extends "base.html" %}
{% load static %}


{% block head %}
<title>SupportTicket</title>
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<title>SignUp</title>

{% endblock head %}

{% block content %}

    <h1>All Supports</h1>


    {% for support in supports %}
        <p>Title: {{support.title}}</p>
        <p>Decription: {{support.description}}</p>
        <p>User: {{support.users_user_name}}</p>
        <a href="{% url 'support_update' support.support_id%}">Edit support</a>
    {% endfor %}

{% endblock content %}